@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Oswald&display=swap');

* {
    background-color: #2F322F;
}

header {
    display: flex;
    justify-content: center;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    color: #FFFAF1;
    font-size: 4em;
}
/* Game Container Styling*/
.game-container {
    margin-left: 5em;
    margin-right: 5em;
}
/* Game Choices stylings */
.choices {
    display: flex;
    justify-content: space-evenly;
}


.choice {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 4em;
    transition: 200ms;
}

.choice-image {
    width: 2em;
    height: 2em;
}

.choice:hover {
    transform: scale(1.1);
}
/* Results Area */
.result {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    color: #FFFAF1;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.scoreboard h2 {
    margin: 2rem;
}

.score {
    font-size: 2rem;
    color: lightgray;
}

.result-choice img {
    width: 4em;
    height: 4em;
}

.result-choice {
    opacity: .5;
}

.result-choice.winner {
    opacity: 1;
    font-size: 1.2em;
}

/* Pop up window */


.popup {
    width: 200px;
    background-color: #FFFAF1;
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    text-align: center;
    padding: 0 30px;
    transition: 0.2s;
}

.open-popup {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
    font-family: 'Oswald', sans-serif;
    background-color: #FFFAF1;
}

.popup p {
    font-family: 'Oswald', sans-serif;
    background-color: #FFFAF1;
}

.popup-btn {
    margin-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
    background-color: #FFFAF1;
}



